<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test task - home</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">

{#            {% if request.cookies.get('access_token') %}#}
{#                <div class="alert alert-info alert-dismissible" role="alert">#}
{#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                    <strong>Info.</strong> Page have cookie and your logged.#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="alert alert-warning alert-dismissible" role="alert">#}
{#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                    <strong>Info.</strong> Page have not cookie and your not logged.#}
{#                </div>#}
{#            {% endif %}#}

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 10%;">
                                <img src="{{ user_info['photo_100'] }}">
                            </th>
                            <th class="align-middle">
                                Друзья {{ user_info['first_name'] }} {{ user_info['last_name'] }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for friend in friends_list %}
                            <tr>
                                <td style="width: 10%;">
                                    <img src="{{ friend['photo_100'] }}" />
                                </td>
                                <td class="align-middle">
                                    <a href="https://vk.com/id{{ friend['id'] }}">{{ friend['first_name'] }} {{ friend['last_name'] }}</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <form class="form-auth" action="/logout">
                        <button type="sumbit" class="btn btn-md btn-block btn-info">Выйти</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>